.recent-work-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.recent-work-container a {
  text-decoration: none;
  width: 33.3%;
  position: relative;
}

.recent-work-container .project-link-container.hidden {
  display: none;
}

.project-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 860px;
  height: 100%;
  padding: 90px 30px 60px 30px;
}

.project-image-container {
  max-width: 400px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
}

.project-image-container img {
  object-fit: cover;
  max-width: 100%;
}

h3.project-title {
  font-family: FF DIN Pro;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;
}

h3.project-title.color-black {
  color: #000000;
}

h3.project-title.color-white {
  color: #ffffff;
}

.project-container p {
  font-family: FF DIN Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 0;
  margin-top: 12px;
  height: 45px;
}

.project-container p.color-black {
  color: #000000;
}

.project-container p.color-white {
  color: #ffffff;
}

.project-tag {
  position: absolute;
  top: 5%;
  z-index: 1;
  color: #fff;
  background: #000;
  font-family: FF Din Pro;
  font-weight: 700;
  padding: 15px 80px 15px 25px;
  text-transform: uppercase;
  font-size: 18px;
  display: none;
}

.recent-work-header {
  padding: 43px 3% 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-work-header h1 {
  font-family: FF Din Pro;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 0;
  font-size: 42px;
}

.filters .filter {
  background: none;
  border: 1px solid;
  font-size: 20px;
  padding: 5px 15px;
  cursor: pointer;
}

.filters .filter.selected {
  background: #000;
  color: #fff;
}

.filter-container {
  display: flex;
  flex-direction: row;
}

.filter-container .hide-show-filters {
  font-family: 'FF DIN PRO';
  font-size: 36px;
  height: fit-content;
  width: fit-content;
  line-height: 1;
}

@media (max-width: 550px) {
  .project-container {
    min-width: 300px;
    width: 100%;
    max-height: 560px;
    height: 100%;
    padding: 130px 30px 60px 30px;
  }

  .recent-work-container a {
    width: 100%;
  }

  .recent-work-header {
    flex-direction: column;
  }

  .filter-container {
    margin-top: 20px;
  }
}

@media (min-width: 1500px) {
  .recent-work-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .recent-work-container a {
    width: 100%;
  }
}
