.project-intro-container {
    padding:  40px 5% 10%;
}

.back-button-container .back-button {
    font-family: 'FF DIN Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #EFEFEF;
    border: none;
    background: transparent;
    padding: 5px;
    padding-left: 0;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.project-title-image-container {
    max-width: 250px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
}

.project-title-image-container img {
    width: 100%;
}

.intro-content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.intro-copy-container {
    max-width: 798px;
}

.intro-copy-container .intro-title {
    font-family: 'FF DIN Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 10px
}

.intro-copy-container .intro-copy {
    font-family: 'FF DIN Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #000000;
}

.intro-copy-container .intro-copy h2 {
    font-family: 'FF DIN Pro';
    font-size: 24px;
    line-height: 130%;
    padding-bottom: 10px
}

.intro-copy-container .intro-copy p {
    font-family: 'FF DIN Pro';
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 130%;
    padding-bottom: 10px
}

.intro-service-list {
    margin-left: 90px;
    width: 40%;
    margin-top: 48px;
    max-width: 400px;
}

.intro-service-list ul {
    font-family: 'FF DIN Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 130%;
    list-style-type: none;
}

@media (max-width: 767px) {
    .intro-content-container {
        flex-direction: column;
    }
}